import /init.recovery.usb.rc

on fs
    symlink /system_root/system /system
    symlink /dev/block/platform/bootdevice/by-name /dev/block/by-name
    
    write /sys/class/power_supply/usb/otg_switch 1

on init

    symlink /sbin/keystore.mt6765.so /vendor/lib64/hw/keystore.mt6765.so
    symlink /sbin/gatekeeper.mt6765.so /vendor/lib64/hw/gatekeeper.mt6765.so
    symlink /sbin/mcRegistry /vendor/app/mcRegistry

    write /sys/class/graphics/fb0/blank 0
    
on post-fs
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    
service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:sys.boot_completed=0
    start gatekeeper-1-0
    start keymaster-3-0
